<!-- ======= Intro About ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1>Dashboard</h1>
            <h3 class="sinse-title"">Resume all property in our website</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Mandate</th>
          <th>Header</th>
          <th>Adress</th>
          <th>Price</th>
          <th>Agent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>2</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Integer</td>
          <td>nec</td>
          <td>odio</td>
          <td>Praesent</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
