<!-- ======= Intro About ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Peillex Domaine de Coudrée</h1>
          <h3 class="sinse-title"">Peillex Domaine de Coudrée</h3>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav class=" d-flex justify-content-lg-end">
            <%= link_to image_tag("logo_2.png", class: "logo_signIn", alt: "logo_Peillex_Property")%>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 position-relative text-center">
        <div class="about-img-box">
          <%= link_to image_tag("agencies/sciez/sciez-2.jpg", :class => 'img-fluid')%>
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">Peillex Property - Sciez
            <br> <i class="fas fa-phone"></i> 04.50.72.62.01
          </h3>
          <p>Du lundi au vendredi : 8h30-12h00 / 14h00-18h30 Samedi : 8h30-12h00</p>
        </div>
      </div>
      <div class="col-md-12 section-t8 position-relative">
        <div class="row">
          <div class="col-md-6 col-lg-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2754.4686323135966!2d6.381047551181401!3d46.3402427824788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c401d7452d169%3A0x3f946c134b9ba29c!2s1%20Av.%20Bartholoni%2C%2074140%20Sciez!5e0!3m2!1sfr!2sfr!4v1633714443714!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">Discover
                <span class="color-d">our</span> angecie
              </h3>
            </div>
            <p class="color-text-a">
            The AC PROPERTY Agency is a real estate agency specializing in prestigious real estate, mainly located in the Lemanique sector but capable of reaching further afield as opportunities arise.
            </p>
            <p class="color-text-a">
              A specialist in high-end properties, AC PROPERTY represents the “Luxury” branch of the PEILLEX IMMOBILIER group, present in the sector since 1861, and offering Transaction (purchase / sale), Rental / Rental Management and Promotion / Allotment services.

              You are a buyer or looking for a rental, discover our choice of properties and land available on our website. The employees of the AC PROPERTY Agency know how to respond professionally to the discretion desired by certain clients by working their property "Off-Market", and also offer you a "property hunter" service to find you the property of your dreams ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- =======Team Section ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Meet our team</h1>
          <h3 class="sinse-title"">Our team present on site and ready to welcome you</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<!-- =======Team Section ======= -->
<section id="latest-properties" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag("agent-6.jpg", class: 'img-d img-fluid') %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">Alexandre Marolleau</h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d description-text">
                Director Agency
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone:
                  </strong>
                  +54 356 945234
                </p>
                <p>
                  alexandre.marolleau@peillex.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag("agent-6.jpg", class: 'img-d img-fluid') %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">Alexandre Marolleau</h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d description-text">
                Director Agency
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone:
                  </strong>
                  +54 356 945234
                </p>
                <p>
                  alexandre.marolleau@peillex.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
