<section id="latest-properties" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag("agent-6.jpg", class: 'img-d img-fluid') %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">Alexandre Marolleau</h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d description-text">
                Director Agency
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone:
                  </strong>
                  +54 356 945234
                </p>
                <p>
                  alexandre.marolleau@peillex.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag("agent-6.jpg", class: 'img-d img-fluid') %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">Alexandre Marolleau</h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d description-text">
                Director Agency
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone:
                  </strong>
                  +54 356 945234
                </p>
                <p>
                  alexandre.marolleau@peillex.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag("agent-6.jpg", class: 'img-d img-fluid') %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">Alexandre Marolleau</h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d description-text">
                Director Agency
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone:
                  </strong>
                  +54 356 945234
                </p>
                <p>
                  alexandre.marolleau@peillex.com
                </p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
