/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.section-about .title-vertical {
  position: absolute;
  letter-spacing: 0;
  transform: rotate(-90deg);
  top: 50px;
  text-align: left;
  font-size: 1.8rem;
  width: 300px;
  font-weight: 700;
  text-align: right;
}

.img-fluid {
    max-width: 60%;
    height: auto;
}

.sinse-box {
  background-color: $primary-color;
  padding: 1rem 2rem;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.sinse-box .sinse-title {
  font-weight: 700;
  letter-spacing: 0.043em;
  font-size: 1rem;
}

.sinse-box p {
  margin-bottom: 0;
  font-size: 0.7rem;
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 8rem;
}
.section-t4 {
  padding-top: 4rem;
}
.section-t3 {
  padding-top: 3rem;
}
