/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.container_about h1{
  font-size: 50px;
}

.container_about li{
  line-height: 75px;
  font-size: 20px;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.section-b2 {
  padding-bottom: 2rem;
}

/*------/ Icon Box /------*/
.icon-box .icon-box-icon {
  display: table-cell;
  vertical-align: top;
  font-size: 36px;
  color: $black;
  width: 50px;
  padding-top: 8px;
}
.icon-box .icon-box-content {
  padding-top: 10px;
  font-size: 16px;
}

.link-one {
  color: $black;
  transition: all 0.5s ease;
  font-size: 30px;
}
.link-one:hover {
  color: $black;
  text-decoration: none;
}

.card-box-d .list-inline-item:not(:last-child) {
  margin-right: 25px;
}
