/* =============================
 * LEFT SIDE DASHBOARD
 =============================== */
 .nav-bar-dashboard{
   padding: 20px 30px;
   text-align: center;
 }

.sidebar-sticky a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-sticky span {
    color: black;
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
}

.settings-title{
  font-size: 25px;
}

/* =============================
 * TABLE DASHBOARD
 =============================== */

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(204, 204, 204, 0.5);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #d8d8d8;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px #f3f3f3;
}

.th-users{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  width: 80%;
}
