// photo properties

.photo-overlay{
  height: 750px;
}

// photo agents
.img-circle{
  border-radius: 50%;
      width: 150px;
}

.summary-list {
    padding-right: 1rem;
    color: #000000;
}

.summary-list .list {
    padding: 0;
    line-height: 2;
}

.summary-list .list span{
    font-size: 1rem;
}

.justify-content-between {
    justify-content: space-between!important;
}

.span-property-summary{
  font-size: 1rem;
}

.price-metters{
  font-size: 15px;
  font-weight: 800;
}

.title-c{
  text-align: center;
}

.card-box-ico {
  padding: 0rem 3rem 0rem 2.5rem;
  border: 5px solid #21aeda;
}

.property-summary {
    padding-top: 60px;
}
// Property Description

.description{
  font-size: 1rem;
}

.color-text-a {
    text-decoration: none;
    color: #555555;
}

// Ameneties

.summary-desciption{
  padding: 30px 0px;
}

.title-box-d {
    padding-bottom: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
}

.title-box-d .title-d {
    font-weight: 600;
    font-size: 2rem;
}

.title-box-d .title-d:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: #21aeda;
    bottom: 20px;
    left: 0;
}
