/* ==============================
* GLOBAL
 ================================ */
 .container {
  max-width: 1500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
 }
