/* =============================
 * FOOTER
 =============================== */
 /* START FOOTER */

 .footer .container{
   width: 65%;
 }

 .footer .container{
   max-width: 1170px;
   margin:auto;
 }
 .footer .row-footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 .footer ul{
   list-style: none;
 }
.footer .footer-point{
  margin: auto;
  padding: 0;
}
 .footer{
    background-color: #2A2733;
     padding: 70px 0;
 }
 .footer-col{
    padding: 0 15px;
 }
 .footer-col h4{
   color: white;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
 }
 .footer-col h4::before{
   content: '';
   position: absolute;
   left:0;
   bottom: -10px;
   background-color: #EB2A0D;
   height: 2px;
   box-sizing: border-box;
   width: 70px;
 }
 .footer-col ul li:not(:last-child){
   margin-bottom: 15px;
 }
 .footer-col ul li a{
   text-transform: capitalize;
   color: black;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   font-size: 15px;
   transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
   color: white;
   padding-left: 8px;
 }
 .footer-col .social-links a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background-color: rgba(255,255,255,0.2);
   margin:0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: white;
   transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
   color: #24262b;
   background-color: white;
 }

 /* END FOOTER */
