// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-sidebar {
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
}
