<!-- ======= Intro About ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">All properties</h1>
          <span class="color-text-a">Last property in the market</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Intro About -->

<div class="grid">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

<!-- ======= Start Last Property ======= -->
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <%= render "properties/list", properties: @properties %>
    </div>
  </div>
</section>
<!-- ======= End Last Property ======= -->
