/* =============================
 * ALL TITLE CONTAINER
 =============================== */

.title-single-box {
  border-left: 3px solid #21aeda;
  padding: 15px;
  margin-bottom: 10px;
}

.title-single{
  font-size: 3.5rem;
}
