/* =============================
 * BUTTON SUBMIT / SEND
 =============================== */

.btn.btn-a, .btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: 0.05rem;
}
.btn.btn-a {
  text-decoration: none;
  background-color: $primary-color;
  color: $white;
}
.btn.btn-a:hover {
  background-color: $black;
  color: $white;
}
