/* =============================
 * BACKGROUND - HOME BANNER
 =============================== */

#home-banner {
  background: image-url("banners/thonon.jpg") no-repeat center center;
  height: 600px;
  background-size: cover;
}
