/* =============================
 * History resume Market in Chablais
 =============================== */

.card-gray{
  background-color: $gray-1;
  border-color: $gray-1;
}

.card-body{
  padding: 3rem 4rem;
}

.text--lg{
  font-style: normal;
  font-size: 1.05rem;
  line-height: 1.58;
}
