.link-one {
  color: #000000;
  transition: all 0.5s ease;
  font-size: 30px;
}
.link-one:hover {
  color: #000000;
  text-decoration: none;
}

.card-box-d .list-inline-item:not(:last-child) {
  margin-right: 25px;
}
