<main role="main">
  <div class="jumbotron" id="home-banner">
    <div class="container">
      <h1 class="display-3">Search for you'r new Home</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
      </p>
    </div>
  </div>
</main>
  <!-- ======= Start Title Last Property ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Last properties</h1>
            <h3 class="color-text-a sinse-title"">Last property in the market</h3>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- End Title Last Property-->

  <!-- ======= Start Last Property ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>
  <!-- ======= End Last Property ======= -->

  <!-- ======= Start History ======= -->
  <section class="history-peillex">
    <div class="container">
      <div class="card card-gray card-lg">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <h1 class="mt-4 text-center">The real estate market on the Chablais</h1>
              <p class="text--lg text-muted text-justify my-5">
                  Peillex property , offers many properties for sale. Located in a rich region between lake and mountain, we offer several types of property: houses for sale in Thonon, apartments with a view of Lake Geneva, contemporary houses in the heart of the Golf, luxury chalets for sale at the foot of the ski slopes or apartments in the city center. Peillex, strong of his 60 years of experience in the real estate , helping you find the property that will meet your expectations.
                  <br>
                  <br>
                  All these properties are in several towns of Chablais including the three best known, Evian-les-Bains, Thonon-les-Bains and Veigy-foncenex. These three towns are surrounded by towns that are just as pleasant to live in as Publier, Sciez, Anthy-sur-Léman, Chens-sur-Léman or even Lugrin.
                  The common points that unite them are the quick access to Lake Geneva, the ski resorts and their proximity to Switzerland. You live near major tourist centers such as Geneva or Lausanne while maintaining a calm and peaceful living environment.
                  <br>
                  <br>
                  Lover of nature and historical heritage, Chablais offers a unique landscape, ranging from the mountains of Haut Chablais where you can indulge in the pleasures of the mountain, to the shores of Lake Geneva where lake activities punctuate the lives of residents. Geneva is also known for its spas . International resorts during the Belle Époque, the resorts of Evian-les-Bains and Thonon-les-Bains are known to cure all kinds of fatigue.
                  <br>
                  <br>
                  You want to find a house for sale in Thonon-les-Bains or sell a property Chablais? Peillex, a real estate agency in Thonon, Douvaine and Sciez offers its services and experience to facilitate any sale or purchase in the region.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End History ======= -->

  <!-- ======= Start Title Agent ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Best agent</h1>
            <h3 class="color-text-a sinse-title"">All agent working in Peillex Real Estate</h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Title Agent ======= -->

  <!-- ======= Start Agent Section ======= -->
  <section id="latest-properties" class="mb-5">
    <div class="container">
        <%= render "agents/agents_section" %>
    </div>
  </section>
  <!-- ======= End Agent Section ======= -->


  <!-- ======= Start Title Latest Blog ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Latest publish on blogs</h1>
            <h3 class="color-text-a sinse-title"">You want to learn some news</h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Title Latest Blog-->

  <!-- ======= Start latest Blog ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <%= render "posts/list", posts: @posts %>
      </div>
    </div>
  </section>
  <!-- ======= End latest Blog======= -->
