<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Search for you'r new Home</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
      </p>
    </div>
  </div>

  <!-- ======= Start Title Last Property ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Last properties</h1>
            <span class="color-text-a">Last property in the market</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- End Title Last Property-->

  <!-- ======= Start Last Property ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <%= render "properties/list", properties: @agent_propertie %>
      </div>
    </div>
  </section>
  <!-- ======= End Last Property ======= -->


  <!-- ======= Start Title Agent ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Best agent</h1>
            <span class="color-text-a">All agent working in Peillex Real Estate</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Title Agent ======= -->

  <!-- ======= Start Agent Section ======= -->
  <section id="latest-properties" class="mb-5">
    <div class="container">
        <%= render "agents/agents_section" %>
    </div>
  </section>
  <!-- ======= End Agent Section ======= -->

</main>
