<!--Start Footer-->
<footer class="footer">
  <div class="container">
    <div class="row-footer">
      <div class="footer-col">
        <h4 class="text-brand">Company</h4>
        <ul class="footer-point">
          <li class="item-list-footer">
            <a href="#">Legal and privacy</a>
          </li>
          <li class="item-list-footer">
            <a href="#">&copy; Peillex Property</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="text-brand">Our agencies</h4>
        <ul class="footer-point">
          <li class="item-list-footer">
            <%= link_to "Peillex Property - Thonon", agencies_thonon_path%>
          </li>
          <li class="item-list-footer">
            <%= link_to "Peillex Property - Douvaine", agencies_douvaine_path%>
          </li>
          <li class="item-list-footer">
            <%= link_to "Peillex Property - Domaine de Coudrée", agencies_sciez_path%>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="text-brand">Languages</h4>
        <ul class="footer-point">
          <li class="item-list-footer">
            <a href="#">english</a>
          </li>
          <li class="item-list-footer">
            <a href="#">french</a>
          </li>
          <li class="item-list-footer">
            <a href="#">italian</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="text-brand">Follow us</h4>
        <div class="social-links">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--End Footer-->
